.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td{
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item td button{
  margin-left: 5px;
  padding: 5px 8px;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}
